modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]
run = "npm run dev"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "next start -p 3000"]
deploymentTarget = "cloudrun"
ignorePorts = false
build = ["sh", "-c", "next build"]

[[ports]]
localPort = 3000
externalPort = 80
