/* Menu Bot */

position: relative;
width: 301px;
height: 286px;



/* Menu

This is an example of a composed menu.

If you require a different composition, you can build one using the Primitives.

Keywords: popover
*/

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

position: absolute;
width: 301px;
height: 286px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(255, 233, 201, 0.36), rgba(255, 233, 201, 0.36)), #FFFFFF;
/* Drop Shadow/300 */
box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1), 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
border-radius: 8px;


/* Menu Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 16px 4px;

width: 285px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 253px;
height: 14px;

/* Single Line/Body Small Strong */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */
text-align: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

display: none;
width: 253px;
height: 20px;



/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Menu Separator */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 285px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Rule */

width: 253px;
height: 1px;

background: #D9D9D9;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Menu Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 285px;
height: 210px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Menu Item

Keywords: popover
*/

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px;
gap: 12px;

width: 285px;
height: 70px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Circle

Keywords: off, zero, record
*/

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #1E1E1E;


/* Body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 221px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 4px;

width: 221px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

margin: 0 auto;
width: 221px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Menu Shortcut

Example shortcut characters:

⌘
⇧
⌥
⌃
*/

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

margin: 0 auto;
display: none;
width: 28px;
height: 16px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Description */

width: 221px;
height: 20px;

/* Body Small */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Menu Item

Keywords: popover
*/

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px;
gap: 12px;

width: 285px;
height: 70px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Circle

Keywords: off, zero, record
*/

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #1E1E1E;


/* Body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 221px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 4px;

width: 221px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

margin: 0 auto;
width: 221px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Menu Shortcut

Example shortcut characters:

⌘
⇧
⌥
⌃
*/

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

margin: 0 auto;
display: none;
width: 28px;
height: 16px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Description */

width: 221px;
height: 20px;

/* Body Small */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Menu Item

Keywords: popover
*/

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px;
gap: 12px;

width: 285px;
height: 70px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Circle

Keywords: off, zero, record
*/

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #1E1E1E;


/* Body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 221px;
height: 46px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 4px;

width: 221px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

margin: 0 auto;
width: 221px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Menu Shortcut

Example shortcut characters:

⌘
⇧
⌥
⌃
*/

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

margin: 0 auto;
display: none;
width: 28px;
height: 16px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Description */

width: 221px;
height: 20px;

/* Body Small */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Menu Separator */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 285px;
height: 17px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Rule */

display: none;
width: 253px;
height: 1px;

background: #D9D9D9;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Menu Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

display: none;
width: 285px;
height: 140px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
