/* 2 */

position: relative;
width: 375px;
height: 812px;

background: url(BG COOKIEBOT.png);


/* If you wish to add it to a group, select “Add Me” Or ir you wish to configure any settings, go ahead and select the setting to be configured! Any doubts or feedback, please contact @MekhyW */

position: absolute;
width: 332px;
height: 88px;
left: 26px;
top: 269px;

font-family: 'Futura';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 22px;
/* or 129% */
text-align: center;
letter-spacing: -0.4px;

color: #3A2601;



/* Welcome to the Set Up Panel for the Cookiebot! */

position: absolute;
width: 315px;
height: 44px;
left: 34px;
top: 183px;

font-family: 'Futura';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 22px;
/* or 129% */
text-align: center;
letter-spacing: -0.4px;

color: #3A2601;



/* I am Currently active in XXX Groups! */

position: absolute;
width: 235px;
height: 22px;
left: 71px;
top: 237px;

font-family: 'Futura';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 22px;
/* identical to box height, or 129% */
text-align: center;
letter-spacing: -0.4px;

color: #3A2601;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Ellipse 2 */

box-sizing: border-box;

position: absolute;
width: 68px;
height: 65px;
left: 158px;
top: 108px;

background: url(photo_2023-12-17_23-26-53.jpg);
border: 1px solid #FFE9C9;


/* Ellipse 3 */

position: absolute;
width: 68px;
height: 65px;
left: 158px;
top: 108px;

border: 1px solid #5E410D;
box-shadow: 0px 1px 2.7px 1px rgba(0, 0, 0, 0.7);


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 164px;
height: 55px;
left: 106px;
top: 378px;

border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 164px;
height: 55px;

background: #3A2601;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

background: #FFFFFF;


/* label-text */

width: 53px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 338px;
height: 37px;
left: 19px;
top: 540px;

border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 338px;
height: 37px;

background: #9D844E;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 11.46%;
right: 11.46%;
top: 11.46%;
bottom: 11.46%;

background: #FFFFFF;


/* label-text */

width: 147px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 338px;
height: 37px;
left: 19px;
top: 582px;

border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 338px;
height: 37px;

background: #9D844E;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;


/* label-text */

width: 92px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 338px;
height: 37px;
left: 19px;
top: 498px;

border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 338px;
height: 37px;

background: #9D844E;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;


/* label-text */

width: 111px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 338px;
height: 37px;
left: 19px;
top: 456px;

border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 338px;
height: 37px;

background: #9D844E;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 8.12%;
right: 8.13%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;


/* label-text */

width: 105px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 289px;
height: 31px;
left: 43px;
top: 728px;

border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 289px;
height: 31px;

background: #3A2601;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 8.33%;

background: #FFFFFF;


/* label-text */

width: 204px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 289px;
height: 31px;
left: 43px;
top: 692px;

border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 289px;
height: 31px;

background: #3A2601;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Backgrounds/Primary */
background: #FFFFFF;


/* label-text */

width: 84px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 289px;
height: 31px;
left: 43px;
top: 656px;

border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 289px;
height: 31px;

background: #3A2601;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Backgrounds/Primary */
background: #FFFFFF;


/* label-text */

width: 121px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 289px;
height: 31px;
left: 43px;
top: 768px;

border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 289px;
height: 31px;

background: #3A2601;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 0%;
right: 0%;
top: 16.67%;
bottom: 16.67%;

/* Grays/White */
background: #FFFFFF;


/* label-text */

width: 89px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* language */

position: absolute;
width: 31px;
height: 31px;
left: 339px;
top: 93px;



/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #31111D;
