/* 4 */

position: relative;
width: 375px;
height: 812px;

/* cookiebot bg */
background: url(bg1.jpg);


/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 353px;
height: 102px;
left: 11px;
top: 140px;

background: #FFFFFF;
border: 1px solid #FFE9C9;
border-radius: 5px;


/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 353px;
height: 102px;
left: 11px;
top: 263px;

background: #FFFFFF;
border: 1px solid #FFE9C9;
border-radius: 5px;


/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 353px;
height: 102px;
left: 10px;
top: 386px;

background: #FFFFFF;
border: 1px solid #FFE9C9;
border-radius: 5px;


/* Slider Field

<p>Keywords: range</p>
*/

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 344px;
height: 78px;
left: 16px;
top: 266px;



/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 344px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

margin: 0 auto;
width: 303px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Slider Output */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

margin: 0 auto;
width: 41px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Prefix */

width: 0px;
height: 20px;



/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Value */

width: 41px;
height: 20px;

/* Body Small */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
text-align: right;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Slider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 344px;
height: 8px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 344px;
height: 8px;

background: #E6E6E6;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Knob Start */

width: 16px;
height: 16px;

background: #2C2C2C;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Slider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 312px;
height: 6px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Knob End */

width: 16px;
height: 16px;

background: #2C2C2C;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Description */

width: 344px;
height: 44px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Slider Field

<p>Keywords: range</p>
*/

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 344px;
height: 78px;
left: 15px;
top: 140px;



/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 344px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

margin: 0 auto;
width: 293px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Slider Output */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

margin: 0 auto;
width: 51px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Prefix */

width: 0px;
height: 20px;



/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Value */

width: 51px;
height: 20px;

/* Body Small */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
text-align: right;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Slider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 344px;
height: 8px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 344px;
height: 8px;

background: #E6E6E6;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Knob Start */

width: 16px;
height: 16px;

background: #2C2C2C;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Slider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 312px;
height: 6px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Knob End */

width: 16px;
height: 16px;

background: #2C2C2C;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Description */

width: 344px;
height: 44px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 289px;
height: 31px;
left: 42px;
top: 714px;

background: #FFE9C9;
border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 289px;
height: 31px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 25%;
bottom: 25%;

background: #3A2601;


/* label-text */

width: 209px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #3A2601;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Slider Field

<p>Keywords: range</p>
*/

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 344px;
height: 78px;
left: 13px;
top: 387px;



/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 344px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

margin: 0 auto;
width: 293px;
height: 22px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Slider Output */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

margin: 0 auto;
width: 51px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Prefix */

width: 0px;
height: 20px;



/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Value */

width: 51px;
height: 20px;

/* Body Small */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */
text-align: right;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Slider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 344px;
height: 8px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 344px;
height: 8px;

background: #E6E6E6;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Knob Start */

width: 16px;
height: 16px;

background: #2C2C2C;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Slider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 312px;
height: 6px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Knob End */

width: 16px;
height: 16px;

background: #2C2C2C;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Description */

width: 344px;
height: 44px;

/* Body Base */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #757575;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Row */

position: absolute;
width: 375px;
height: 44px;
left: 0px;
top: 510px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
border-radius: 5px;


/* Notifications */

position: absolute;
height: 22px;
left: 4.27%;
right: 22.13%;
top: calc(50% - 22px/2 - 1px);

font-family: 'Futura';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
/* identical to box height, or 129% */
letter-spacing: -0.4px;

color: #000000;



/* Checkboxes

Checkboxes are a selection control which allow users to select one or more options from a set; present a list containing sub-selections; and turn an item on or off in a desktop environment
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px;

position: absolute;
width: 48px;
height: 48px;
left: 327px;
top: -2px;



/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px;
isolation: isolate;

width: 40px;
height: 40px;

border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* container */

width: 18px;
height: 18px;

background: #FFE9C9;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* check_small */

position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px/2);
top: calc(50% - 24px/2);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* icon */

position: absolute;
left: 25%;
right: 25%;
top: 29.17%;
bottom: 31.67%;

background: #5E410D;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

position: absolute;
width: 346px;
height: 26px;
left: 12px;
top: 577px;

background: #5E410D;
border-radius: 8px;


/* Slash

Keywords: ban, no
*/

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.6px solid #F5F5F5;


/* Button */

width: 141px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */

color: #F5F5F5;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* X

Keywords: cancel, close, delete, remove, times, clear
*/

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
