.language{

    position: absolute;
    top:20px;
    right: 10px;
    width: 10.625rem;
    border-radius: 3%;

    background-color: rgba(206, 205, 205, 0.979);

    &__list{
        width: 100%;
        list-style: none;
      

        li{
            color: rgb(82, 82, 82);
            font-size: 0.5rem;
        }
    }
}