@font-face {
  font-family: "Futura";
  src: url("./fonts/FuturaCyrillicMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/FuturaCyrillicLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/FuturaCyrillicExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey-800);
  color: var(--grey-100);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body,
input,
textarea,
button {
  font-family: 'Futura', sans-serif;
  font-size: 1rem;
}

:root {
  --brown-700: #3A2601;
  --brown-500: #9D844E;

}