@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura";
  src: url("./fonts/FUTURA55REGULAR.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/FUTURA56ITALIC.TTF") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/FUTURA65MEDIUM.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/FUTURA66MEDIUMITALIC.TTF") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/FUTURA45LIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/FUTURA46LIGHTITALIC.TTF") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/FUTURA75BOLD.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./fonts/FUTURA76BOLDITALIC.TTF") format("truetype");
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--brown-700) !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

button {
  font-family: 'Futura', sans-serif;
  font-size: 1rem;
  color:var(--brown-700) !important;
  
}

:root {
  --brown-700: #3A2601;
  --brown-500: #9D844E;

}